body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

section {
    margin: 20px 0;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}



footer {
    text-align: center;
    padding: 5px;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50remx;
    
    
    
}